Based on lab DL0101EN-3-1-Regression-with-Keras-py-v1.0

# D. Increase the number of hidden layers (5 marks)

Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function.

How does the mean of the mean squared errors compare to that from Step B?

Author: Marco Boccenti

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's read the dataset into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id="item1"></a>

## Import Keras

#### Let's go ahead and import the Keras library

In [12]:
import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [13]:
from keras.models import Sequential
from keras.layers import Dense

In [14]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has three hidden layers each with 10 neurons and ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [16]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [17]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

## Train and Test the Network

Let's call the function now to create our model.

In [19]:
# build the model
model = regression_model()

Next, we will train the model for 50 epochs.

In [21]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 0s - loss: 125.0470
Epoch 2/50
 - 0s - loss: 123.8245
Epoch 3/50
 - 0s - loss: 122.4421
Epoch 4/50
 - 0s - loss: 120.3533
Epoch 5/50
 - 0s - loss: 119.2424
Epoch 6/50
 - 0s - loss: 117.8316
Epoch 7/50
 - 0s - loss: 115.5682
Epoch 8/50
 - 0s - loss: 114.5476
Epoch 9/50
 - 0s - loss: 113.1378
Epoch 10/50
 - 0s - loss: 111.1799
Epoch 11/50
 - 0s - loss: 109.0961
Epoch 12/50
 - 0s - loss: 107.4511
Epoch 13/50
 - 0s - loss: 106.1329
Epoch 14/50
 - 0s - loss: 104.1066
Epoch 15/50
 - 0s - loss: 102.6524
Epoch 16/50
 - 0s - loss: 101.0794
Epoch 17/50
 - 0s - loss: 99.6814
Epoch 18/50
 - 0s - loss: 97.8370
Epoch 19/50
 - 0s - loss: 95.8238
Epoch 20/50
 - 0s - loss: 94.2019
Epoch 21/50
 - 0s - loss: 93.0546
Epoch 22/50
 - 0s - loss: 91.2794
Epoch 23/50
 - 0s - loss: 89.6454
Epoch 24/50
 - 0s - loss: 88.1260
Epoch 25/50
 - 0s - loss: 86.5513
Epoch 26/50
 - 0s - loss: 85.1826
Epoch 27/50
 - 0s - loss: 83.2626
Epoch 28/50
 - 0s - loss: 81.9714
Epoch 29/50
 - 0s - loss: 79.9322
Epoch 30/50
 - 0s - loss: 78.3949
Epoch 31/50
 - 0s - loss: 77.8268
Epoch 32/50
 - 0s - loss: 75.6125
Epoch 33/50
 - 0s - loss: 74.1364
Epoch 34/50
 - 0s - loss: 72.5154
Epoch 35/50
 - 0s - loss: 70.9776
Epoch 36/50
 - 0s - loss: 69.6105
Epoch 37/50
 - 0s - loss: 68.1081
Epoch 38/50
 - 0s - loss: 66.3631
Epoch 39/50
 - 0s - loss: 65.5350
Epoch 40/50
 - 0s - loss: 63.4352
Epoch 41/50
 - 0s - loss: 61.9915
Epoch 42/50
 - 0s - loss: 61.1659
Epoch 43/50
 - 0s - loss: 59.7202
Epoch 44/50
 - 0s - loss: 58.5202
Epoch 45/50
 - 0s - loss: 57.6457
Epoch 46/50
 - 0s - loss: 56.2470
Epoch 47/50
 - 0s - loss: 55.6843
Epoch 48/50
 - 0s - loss: 54.9485
Epoch 49/50
 - 0s - loss: 53.8691
Epoch 50/50
 - 0s - loss: 52.9530

Next we need to evaluate the model on the test data.

In [22]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 390us/step

69.3973274230957

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [23]:
from sklearn.metrics import mean_squared_error

In [24]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

69.39733184852199 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [25]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 42.94034855419764
MSE 2: 44.14368422671815
MSE 3: 29.97774367965155
MSE 4: 35.34247055794429
MSE 5: 33.32887658177842
MSE 6: 36.751477831004124
MSE 7: 36.53992057232409
MSE 8: 31.252254029307938
MSE 9: 31.40738384160409
MSE 10: 30.577965745648132
MSE 11: 32.19940244804308
MSE 12: 29.657963144740627
MSE 13: 35.92332809102574
MSE 14: 35.16027808575183
MSE 15: 31.84696238866516
MSE 16: 27.654807420996015
MSE 17: 28.951339950067712
MSE 18: 29.289959620503545
MSE 19: 26.142804945171072
MSE 20: 28.437450001540693
MSE 21: 25.121116020918663
MSE 22: 27.004504953773278
MSE 23: 23.919152386365973
MSE 24: 23.843461959493197
MSE 25: 26.372257522780533
MSE 26: 29.35602147988131
MSE 27: 26.931662198409292
MSE 28: 22.396734293224743
MSE 29: 27.9505193518975
MSE 30: 26.075771134262332
MSE 31: 22.544671617279548
MSE 32: 22.06812189466359
MSE 33: 23.323331129203723
MSE 34: 24.0791099140945
MSE 35: 25.61332656959114
MSE 36: 30.829400368107176
MSE 37: 21.547834467347773
MSE 38: 24.15683383386112
MSE 39: 25.438072642847946
MSE 40: 20.853937291018784
MSE 41: 26.16824257489547
MSE 42: 20.5566070180109
MSE 43: 23.2744555457896
MSE 44: 27.105027936423095
MSE 45: 24.382617147995045
MSE 46: 20.98299278950614
MSE 47: 27.69899171995885
MSE 48: 19.947349276743275
MSE 49: 21.82935132640851
MSE 50: 22.60307246581636


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 27.830019094071535
Standard Deviation: 5.463954171895419